<form [formGroup]="form">
  <div *ngFor="let control of sortedControls">
    <ng-container [ngSwitch]="control.type">
      <!-- Text input -->
      <app-text-input *ngSwitchCase="'text'" [id]="control.name" [label]="control.label"
        [control]="getSafeFormControl(form, control.name)"></app-text-input>

      <!-- Dropdown -->
      <ng-container *ngSwitchCase="'dropdown'">
        <app-dropdown *ngIf="!control.isFileInput" [id]="control.name" [options]="control.options"
          [control]="getSafeFormControl(form, control.name)"></app-dropdown>
      </ng-container>

      <!-- File Input with new 'isFileInput'  -->
      <div *ngSwitchCase="'file'" class="file-input-container">
        <label>{{ control.label }}</label>
        <app-file-input [chooseLabel]="control.label" [chooseIcon]="'pi pi-upload'" [accept]="control.accept"
          (onSelect)="onFileSelect($event, control.name)" (confirm)="onOpenDialog($event, 'add')"></app-file-input>
      </div>
    </ng-container>
  </div>

  <!-- Отображение выбранной папки -->
  <div class="selected-folder" style="font-size: 12px;
    display: flex;
    align-items: center;">
    Текущая директория:
    <a (click)="onOpenDialog(null, 'save')" class="select-folder-button" style="    display: flex;
        align-items: center;
        gap: 10px;
        color: #847a8b;
        text-decoration: underline;">
      {{ selectedFolder }}
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"
        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
      </svg>
    </a>
  </div>
  <button (click)="onSubmit()">Сформировать</button>

</form>

<app-dialog-storage (confirm)="onDialogConfirm($event)"></app-dialog-storage>