.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 80vw;
  height: 80%;
  padding: 20px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: #000000;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.pdf-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.pdf-container {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

#pdfCanvas {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.zoom-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.zoom-controls button {
  font-size: 20px;
  padding: 5px 15px;
}

button {
  min-width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}