<div class="popup-overlay" (click)="onClose()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="popup-close" (click)="onClose()">×</button>

        <div class="popup-header">
            <img *ngIf="imageSrc" [src]="imageSrc" alt="Popup Image" />
            <h2 style="text-align: center;">{{ title }}</h2>
        </div>

        <span *ngIf="price" style="margin-bottom: 10px;">
            <ng-container *ngIf="freeGenerating != '0'">
                <del style="color: #999;">{{price}} ₽</del>
                <span style="margin-left: 5px; color: #5fe42b">0 ₽</span>
            </ng-container>
            <ng-container *ngIf="freeGenerating == '0'">
                <span>{{price}} ₽</span>
            </ng-container>
           
        </span>

        <div class="popup-body">
            <p>{{ description }}</p>
        </div>

        <div class="popup-footer">
            <button *ngFor="let button of buttons" (click)="button.onClick()">
                {{ button.label }}
            </button>
        </div>
        <a *ngIf="offerInformation" target="_blank"
            style="text-decoration: none; color: inherit; font-size: 13px; padding-top: 10px;">Совершая оплату, вы
            соглашаетесь с условиями
            <a href="https://rebuildpro.ru/offerInformation">Оферты</a> </a>
    </div>
</div>