<div class="container">
    <a class="cancel" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="#231f20"
                d="M13.83,19a1,1,0,0,1-.78-.37l-4.83-6a1,1,0,0,1,0-1.27l5-6a1,1,0,0,1,1.54,1.28L10.29,12l4.32,5.36A1,1,0,0,1,13.83,19Z" />
        </svg>
    </a>
    <div class="content">
        <header>
            <h1>Публичная оферта</h1>
            <div style="    display: flex
            ;
                justify-content: space-between;">
                <p>Сервиса <a href="https://rebuildpro.ru" target="_blank">rebuildpro</a></p>
                <p>Редакция от 01.01.2025 г.</p>      
            </div>

        </header>

        <section class="offer">
            <h2>1. Термины</h2>
            <p>1.1. В целях единого толкования и понимания, нижеприведённые термины используются в следующем значении:</p>
            <ul>
                <li><strong>Акцепт публичной оферты</strong> — полное и безоговорочное принятие Пользователем условий настоящей публичной Оферты.</li>
                <li><strong>Договор</strong> — возмездное соглашение между Администрацией и Пользователем, заключённое посредством Акцепта публичной Оферты.</li>
                <li><strong>Пользователь</strong> — физическое лицо, заключившее с Администрацией Договор на условиях, содержащихся в настоящей публичной Оферте.</li>
                <li><strong>Сервис</strong> — веб-сайт, расположенный в сети интернет по адресу <a href="https://rebuildpro.ru" target="_blank">https://rebuildpro.ru</a>.</li>
            </ul>
        </section>

        <section class="offer">
            <h2>2. Предмет договора и общие положения</h2>
            <p>2.1. По настоящему договору Администрация предоставляет доступ на платной основе к Сервису <a href="https://rebuildpro.ru" target="_blank">https://rebuildpro.ru</a> Пользователю при соблюдении правил Сервиса, а также с согласия Пользователем политики обработки персональных данных сервиса, публичной Оферты, для осуществления подготовки Пользователем документации в автоматическом режиме.</p>
            <p>2.2. Пользователь получает доступ к Сервису через вход на сервис посредством персонального аккаунта.</p>
            <p>2.3. Пользователь обязуется обновлять персональные данные, предоставленные при регистрации, в случае их изменения; Обеспечивать сохранность персональных данных от доступа третьих лиц; Не передавать в пользование свой персональный аккаунт и/или логин и пароль своего персонального аккаунта третьим лицам.</p>
            <p>2.4. Пользователь предоставляет Администрации Имя, Электронную почту и Пароль для входа на Сервис для регистрации персонального аккаунта Пользователя.</p>
            <p>2.5. Пользователь на собственное усмотрение устанавливает логин и пароль персонального аккаунта. Выбирая пароль для персонального аккаунта, Пользователь самостоятельно обеспечивает его конфиденциальность и несёт ответственность за его надёжность (устойчивость к взлому).</p>
            <p>2.6. Стороны не вправе ссылаться на незаключенность настоящего Договора при встречном предоставлении в порядке статьи 432 ГК РФ.</p>
            <p>2.7. Новая редакция Договора (Оферты) вступает в силу в день её опубликования.</p>
        </section>

        <section class="offer">
            <h2>3. Акцепт оферты</h2>
            <p>3.1. Акцептом Договора-Оферты является факт оплаты Пользователем Документа из списка на Сервисе; Конклюдентные действия Пользователя или любое взаимодействие Пользователя с функционалом Сервиса в любом объёме.</p>
            <p>3.2. До Акцепта настоящей Оферты Пользователь обязуется ознакомиться с её содержанием. При наличии каких-либо сомнений в толковании условий настоящей Оферты Пользователь вправе до совершения Акцепта обратиться к Администрации с письменным запросом на почтовый адрес <a href="mailto:Rebuild-Pro@yandex.ru">Rebuild-Pro&#64;yandex.ru</a> посредством сети интернет.</p>
            <p>3.3. Администрация вправе по своему усмотрению создавать, изменять или отменять условия настоящей Оферты, если иное не предусмотрено нормами законодательства РФ.</p>
            <p>3.4. Совершая Акцепт, Пользователь подтверждает свою полную дееспособность. Акцепт не может считаться совершённым в случае, если совершён недееспособным лицом, а также лицом, не достигшим возраста 18 лет.</p>
            <p>3.5. Администрация сообщает, что данная Оферта действует совместно с Политикой конфиденциальности. Принимая условия настоящей Оферты, Пользователь также ознакомился с условиями Политики конфиденциальности и безоговорочно принимает их в полном объёме.</p>
        </section>

        <section class="offer">
            <h2>4. Финансовые условия</h2>
            <p>4.1. Стоимость каждого обязательства, исполняемого в соответствии с настоящей Офертой, определяется Администрацией в одностороннем порядке и сообщается Пользователю посредством Сервиса и (или) посредством предоставления коммерческого предложения Пользователю на специальных условиях.</p>
            <p>4.2. Информация сообщается до Акцепта Оферты, Акцепт не может считаться совершённым без предоставления необходимой информации, а Договор не может считаться заключённым.</p>
            <p>4.3. Администрация вправе в одностороннем порядке изменять стоимость указанных обязательств, услуг, если такое изменение стоимости не нарушит норм ГК РФ.</p>
            <p>4.4. Моментом исполнения обязательств Пользователя по уплате денежных средств в пользу Администрации считается момент списания денежных средств с расчётного счёта Пользователя.</p>
        </section>

        <section class="offer">
            <h2>5. Срок действия договора</h2>
            <p>5.1. Настоящий договор вступает в силу с даты его Акцепта и действует до полного исполнения собственных обязательств каждой из Сторон.</p>
            <p>5.2. Расторжение (прекращение действия) настоящего Договора означает, в том числе, прекращение действия всех приложений, дополнительных соглашений и иных документов к нему, если иное не предусмотрено в соответствующих приложениях и дополнительных соглашениях (иных документах) к Договору.</p>
            <p>5.3. Администрация вправе в одностороннем внесудебном порядке отказаться от Договора и предоставления услуг Пользователю, уведомив Пользователя за 1 календарный день до отказа.</p>
            <p>5.4. Администрация вправе:</p>
            <ul>
                <li>5.4.1. Временно приостановить исполнение Договора по техническим, технологическим или иным причинам, препятствующим его исполнению, на время устранения таких причин.</li>
                <li>5.4.2. Приостановить исполнение договора в одностороннем внесудебном порядке при нарушении Пользователем иных обязательств, принятых в соответствии с Офертой в порядке ст. 328 ГК РФ.</li>
            </ul>
        </section>

        <section class="offer">
            <h2>6. Ответственность сторон</h2>
            <p>6.1. За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством РФ.</p>
            <p>6.2. Пользователь, получивший доступ к предоставлению услуг Сервиса без ведома Администрации, несёт ответственность согласно УК РФ.</p>
            <p>6.3. Пользователь несёт полную ответственность за:</p>
            <ul>
                <li>6.3.1. Соблюдение требований законодательства РФ.</li>
                <li>6.3.2. Достоверность сведений, предоставляемых для исполнения настоящего Договора.</li>
                <li>6.3.3. Достоверность сведений, указанных при совершении Акцепта.</li>
            </ul>
            <p>6.4. Администрация НЕ несёт ответственности за:</p>
            <ul>
                <li>6.4.1. Какие-либо действия, являющиеся прямым или косвенным результатом действий Пользователя.</li>
                <li>6.4.2. Какие-либо убытки Пользователя вне зависимости от того, могла ли Администрация предвидеть возможность возникновения убытков.</li>
            </ul>
            <p>6.5. Вся информация предоставляется в исходном виде, без гарантий полноты или своевременности.</p>
        </section>

        <section class="offer">
            <h2>7. Разрешение споров</h2>
            <p>7.1. При разрешении споров, связанных с настоящим договором, Стороны считают обязательным соблюдение досудебного претензионного порядка...</p>
            <p>7.2. В случае отказа в удовлетворении претензии, неполучении ответа на претензию в указанный срок и при условии соблюдения вышеизложенного претензионного порядка разрешения споров, сторона по настоящему договору вправе предъявить иск в арбитражный суд.</p>
        </section>

        <section class="offer">
            <h2>8. Заключительные положения</h2>
            <p>8.1. В случае признания недействительным какого-либо положения настоящего Договора, остальные его положения не утрачивают свою силу.</p>
            <p>8.2. Если иное прямо не предусмотрено настоящим Договором, Стороны действуют в рамках законодательства Российской Федерации.</p>
        </section>

        <section class="offer">
            <h2>9. Реквизиты Администрации</h2>
            <p>Индивидуальный предприниматель Пронин Илья Сергеевич;<br>ИНН: 312201357665;<br>ОГРНИП: 324508100020271;<br>Расчётный счёт: 40802810320000460180;<br>Наименование банка: ООО «Банк Точка»;<br>БИК банка: 044525104.</p>
        </section>
    </div>
</div>