/* app.component.scss */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: margin-left 0.5s ease; 
    margin-left: 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s ease;
}

.content {
    width: 100%;
    transition: all 0.5s ease;
}

.sidebar-open {
    margin-left: 250px;
}

.sidebar-open .content {
    width: calc(100% - 250px);
}

.shrink {
    transition: all 0.5s ease;
}