<div class="container" [class.sidebar-open]="personalAccountService.isSidebarOpen">
  <app-sidebar></app-sidebar>

  <div [class.shrink]="isSidebarOpen" class="content" style="width: 100%;  padding-left: 30px;">
    <div class="header">
      <div class="btn-menu" *ngIf="!isSidebarOpen && isSmallScreen">
        <p-button icon="pi pi-bars" [rounded]="true" [text]="true" (click)="toggleSidebar()" />
      </div>

      <p class="title">
        {{tabTitle}}
      </p>

    </div>
    <router-outlet></router-outlet>
  </div>

</div>