<div class="container">
  <div class="headerBtns">
    <div class="backButton" (click)="goBack()">
      <svg class="icon-back">
        <g transform="translate(4 4)">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5.60948 8.00016L10.4716 3.13813L9.52879 2.19531L4.19527 7.52874C4.07024 7.65377 4 7.82334 4 8.00015C4 8.17696 4.07024 8.34653 4.19526 8.47156L9.5287 13.805L10.4715 12.8622L5.60948 8.00016Z">
          </path>
        </g>
      </svg>
      <span>Назад</span>
    </div>
  </div>
  <form [formGroup]="SignUpForm" novalidate (keydown)="handleKeyDown($event)">
    <h1>Регистрация</h1>
    <div class="inputGroup">
      <p-floatLabel>
        <input pInputText id="username" formControlName="username" autocomplete="new-username" />
        <label for="username">Имя пользователя</label>
        <div *ngIf="SignUpForm.get('username')?.touched && SignUpForm.get('username')?.invalid" class="error">
          <small *ngIf="SignUpForm.get('username')?.errors?.['required']">Имя пользователя обязательно.</small>
        </div>
      </p-floatLabel>
      <p-floatLabel>
        <input 
        pInputText id="email" 
        formControlName="email" 
        autocomplete="new-email"
        (input)="handleEmailInput($event)"
        />
        <label for="email">Электронная почта</label>

        <div *ngIf="SignUpForm.get('email')?.dirty && SignUpForm.get('email')?.invalid" class="error" style="display: flex; flex-direction: column;">
          <small *ngIf="SignUpForm.get('email')?.errors?.['required']">Электронная почта обязательна.</small>
          <small *ngIf="SignUpForm.get('email')?.errors?.['email']">Некорректный формат электронной почты.</small>
          <small *ngIf="SignUpForm.get('email')?.errors?.['englishLettersOnly']">
            Только английские буквы
          </small>
        </div>
        
      </p-floatLabel>
      <p-floatLabel>
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" autocomplete="new-password"
          (input)="handlePasswordInput($event)" (onFocus)="handlePasswordFocus()"
          (onBlur)="handlePasswordBlur()"></p-password>
        <label for="password">Пароль</label>

        <div class="password-conditions" *ngIf="isPasswordFocused">
          <p [class.valid]="passwordConditions.minLength">Не менее 6 символов</p>
          <p [class.valid]="passwordConditions.hasUpperCase">Содержит заглавные буквы</p>

          <p  [class.error]="SignUpForm.get('password')?.errors?.['invalidPassword']" *ngIf="SignUpForm.get('password')?.errors?.['invalidPassword']">
            Пароль должен содержать только английские буквы, цифры или допустимые специальные символы.
        </p>
        </div>

        <div *ngIf="SignUpForm.get('password')?.touched && SignUpForm.get('password')?.invalid" class="error">
          <small *ngIf="SignUpForm.get('password')?.errors?.['required']">Пароль обязателен.</small>
          <small *ngIf="SignUpForm.get('password')?.errors?.['minlength']">Пароль должен содержать не менее 6
            символов.</small>
            <small *ngIf="SignUpForm.get('password')?.errors?.['invalidPassword']">
              Пароль должен содержать только английские буквы, цифры или допустимые специальные символы.
            </small>
        </div>
      </p-floatLabel>
    </div>

    <div>
      <label id="checkboxLabel_1">
        <input type="checkbox" id="checkboxInput_1" formControlName="agreement" />
        <a target="_blank" style="text-decoration: none; color: inherit; font-size: 13px;">Я согласен (-на) на обработку
          <a href="https://rebuildpro.ru/legal/82913"> персональных данных</a> </a>
      </label>
    </div>

    <div style="display: flex; flex-direction: column; gap: 10px;">
      <app-custom-button [backgroundColor]="'#8e9aaf'" [hoverColor]="'#7b889f'" [textColor]="'#ffffff'"
        (buttonClick)="onSignUp()">
        Зарегистрироваться
      </app-custom-button>
      <app-pop-up-entry [type]="'registration'"></app-pop-up-entry>
    </div>

  </form>



</div>