.container {
    padding: 20px;

    @media (max-width: 768px) {
        height: 90%;
    }

    
    .headerBtns {
        display: flex;
        justify-content: space-between;

        .backButton {
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: flex-start;
            width: 100px;
            border-radius: 20px;
            transition: background 0.3s ease;

            &:hover {
                background: #f3f3f3;
            }

            .icon-back {
                width: 24px;
                height: 24px;
                color: ghost;
                fill: var(--color-typo-ghost);
            }
        }

    }

}

h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkboxLabel_1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#checkboxInput_1 {
    width: auto;
    margin-right: 10px;
}

#legalLink_1 {
    color: blue;
    text-decoration: underline;
}

#legalLink_1:hover {
    color: darkblue;
}


form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    border-radius: 20px;

}

input::placeholder {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

:host ::ng-deep .p-input-icon-right>.p-inputtext,
:host ::ng-deep .p-password {
    width: 100%;
    border-radius: 20px;
}


.error {
    color: red;
    font-size: 12px;
}


.password-conditions {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    z-index: 10;
    box-sizing: border-box;
  }
  
  .password-conditions p {
    margin: 5px 0;
    color: gray;
    font-size: 14px;
  }
  
  .password-conditions p.valid {
    color: green;
  }
  
  .password-conditions p.error {
    color: red;
    font-size: 14px;
  }
  