

<div class="container">
    <a class="cancel" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="#231f20"
                d="M13.83,19a1,1,0,0,1-.78-.37l-4.83-6a1,1,0,0,1,0-1.27l5-6a1,1,0,0,1,1.54,1.28L10.29,12l4.32,5.36A1,1,0,0,1,13.83,19Z" />
        </svg>
    </a>
    <div class="content">
        <div class="contact-container">
            <div class="contact-header">
                <h1>Контактная информация</h1>
            </div>
        
            <div class="contact-info">
                <div class="contact-item">
                    <span class="value">Индивидуальный предприниматель Пронин Илья Сергеевич</span>
                </div>
        
                <div class="contact-item">
                    <span class="label">ИНН:</span>
                    <span class="value">312201357665</span>
                </div>
        
                <div class="contact-item">
                    <span class="label">ОГРНИП:</span>
                    <span class="value">324508100020271</span>
                </div>
        
                <div class="contact-item">
                    <span class="label">Почта:</span>
                    <a class="value" href="mailto:support@rebuildpro.ru">support&#64;rebuildpro.ru</a>
                </div>
                
                <div class="contact-item">
                    <span class="label">Номер телефона:</span>
                    <a  class="value" href="tel:+79150483399">8 (915) 048-33-99</a>
                </div>
                
            </div>
        </div>
        
    </div>
</div>