<div class="menu-container">
    <div class="right-container">
        {{currentUser}}
    </div>
    <div class="left-container">
        <div class="container-cards">
            <div class="tile" *ngFor="let item of menuItems" (click)="item.command()">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.label }}</span>
            </div>
        </div>

        <div *ngFor="let item of menuItems">
            <ng-container *ngIf="item.items">
                <h3>{{ item.label }}</h3> <!-- Group title -->
                <div class="tile-group">
                    <div class="tile" *ngFor="let subItem of item.items" (click)="subItem.command()">
                        <i class="{{ subItem.icon }}"></i>
                        <span>{{ subItem.label }}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>


<app-comp-statement></app-comp-statement>


<app-excel-viewer></app-excel-viewer>

<app-pdf-viewer></app-pdf-viewer>