<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <div class="fields-container" *ngIf="activeTab === 'personal'">
        <div class="flex flex-column gap-2">
            <label for="firstName">Имя</label>
            <input pInputText id="firstName" formControlName="firstName" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="lastName">Фамилия</label>
            <input pInputText id="lastName" formControlName="lastName" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="patronymic">Отчество</label>
            <input pInputText id="patronymic" formControlName="patronymic" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="email">Почта</label>
            <input pInputText id="email" formControlName="email" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="tgUserName">Телеграм</label>
            <input pInputText id="tgUserName" formControlName="tgUserName" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="hoursOffset">Часовой пояс</label>
            <p-dropdown id="hoursOffset" formControlName="hoursOffset" [options]="timezones"></p-dropdown>
        </div>
    </div>

    <div class="fields-container" *ngIf="activeTab === 'documents'">
        <div class="flex flex-column gap-2">
            <label for="inn">ИНН</label>
            <input pInputText id="inn" formControlName="inn" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="registerNumber">СРО по проектированию</label>
            <input pInputText id="registerNumber" formControlName="registerNumber" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="registerNumberBuilder">СРО по строительным работам</label>
            <input pInputText id="registerNumberBuilder" formControlName="registerNumberBuilder" />
        </div>

        <div class="flex flex-column gap-2">
            <label for="examinationPassing">Прохождение экспертизы</label>
            <input pInputText id="examinationPassing" formControlName="examinationPassing" />
        </div>

    </div>

    <div class="submit-container">
        <button pButton type="submit" label="Отправить"></button>
    </div>
</form>