.docs-container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0 20px 20px 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        min-height: 255px;
        flex-direction: column;
    }
}

.doc-fields {
    display: grid;
    grid-template-columns: 150px 1fr 140px 140px 40px;
    gap: 20px;
    padding: 8px 16px;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;

    @media (max-width: 768px) {
        display: none;
     }
}

.doc-card {
    display: grid;
    grid-template-columns: 150px 1fr 140px 140px 40px;
    gap: 20px;
    padding: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;

    &:hover {
        background-color: #eff2f769;
    }

    @media (max-width: 768px) {
        grid-template-columns: none;

        #status{
            order: 3;
            padding-left: 1px !important;
            width: fit-content;
        }
        #fileDetail{
            order: 1
        }
        #fileSize{
            display: none;
        }
        #initDate{
            order: 2
        }

        .pi{
            order: 4
        }
        .card-details{
            order: 5;
        }
    }

}
.options{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 15px;
}

.btnReload {
    width: 30px;
    height: 30px;
    display: flex;
    background: #3b82f6;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.btnReload:hover {
    background: #3b82f68a;
}

.card-details {
    grid-column: 1 / -1;
    padding: 10px 20px;
    background-color: #8e9aaf1f;
    border-radius: 20px;
    border-left: 4px solid #8E9AAF;
    animation: slideDown 0.3s ease;

    @keyframes slideDown {
        from {
            max-height: 0;
            opacity: 0;
        }

        to {
            max-height: 500px;
            opacity: 1;
        }
    }
}


.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 15px;
    padding: 10px 0;

    .action-button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-align: left;
        transition: all 0.3s ease, box-shadow 0.3s ease;

        i {
            font-size: 1.4rem;
            color: inherit;
        }

        // Стиль для загрузки (Loading)
        &.status-loading {
            background-color: #e6f7ff;
            color: #1890ff;
            border-color: #1890ff;

            i {
                font-size: 1.4rem;
                animation: spin 1s linear infinite;
            }

            &:hover {
                background-color: #cceaff;
                border-color: #1890ff;
            }
        }


        &.status-cancel {
            background-color: #e6f7ff;
            color: #1890ff;
            border-color: #1890ff;

            &:hover {
                background-color: #cceaff;
                border-color: #1890ff;
            }
        }

        // Стиль для информационного статуса (Info)
        &.status-info {
            background-color: #e6f7ff;
            color: #1890ff;
            border-color: #1890ff;

            &:hover {
                background-color: #cceaff;
                border-color: #1890ff;
            }
        }

        // Стиль для успешного статуса (Success)
        &.status-success {
            background-color: #e6ffed;
            color: #52c41a;
            border-color: #52c41a;

            &:hover {
                background-color: #d4f7d2;
                border-color: #52c41a;
            }
        }

        // Стиль для ошибки (Danger)
        &.status-danger {
            background-color: #fff1f0;
            color: #f5222d;
            border-color: #f5222d;

            &:hover {
                background-color: #fbe0e0;
                border-color: #f5222d;
            }
        }

        // Стиль для отмененного статуса (Secondary)
        &.status-secondary {
            background-color: #fafafa;
            color: #8c8c8c;
            border-color: #d9d9d9;

            &:hover {
                background-color: #f0f0f0;
                border-color: #d9d9d9;
            }
        }

        // Прочие стили для статусов
        &.status-preview {
            background-color: #fffbe6;
            color: #faad14;
            border-color: #faad14;

            &:hover {
                background-color: #ffe58f;
                border-color: #faad14;
            }
        }

        &.status-excel {
            background-color: #e6ffed;
            color: #52c41a;
            border-color: #52c41a;

            &:hover {
                background-color: #d4f7d2;
                border-color: #52c41a;
            }
        }

        &.status-pdf {
            background-color: #fff1f0;
            color: #f5222d;
            border-color: #f5222d;

            &:hover {
                background-color: #fbe0e0;
                border-color: #f5222d;
            }
        }
    }
}

// Анимация для иконки спиннера
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.status {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
    min-width: 140px;
    transition: all 0.3s ease;
    text-align: left;
    border: none;

    i {
        font-size: 1.4rem;
        color: inherit;
    }

    &.status-loading {
        background-color: #e6f7ff;
        color: #1890ff;
        border-color: #1890ff;
    }

    &.status-info {
        background-color: #e6f7ff;
        color: #1890ff;
        border-color: #1890ff;
    }

    &.status-success {
        background-color: #e6ffed;
        color: #52c41a;
        border-color: #52c41a;
    }

    &.status-danger {
        background-color: #fff1f0;
        color: #f5222d;
        border-color: #f5222d;
    }

    &.status-secondary {
        background-color: #fafafa;
        color: #8c8c8c;
        border-color: #d9d9d9;
    }

    &.status-unpaid {
        background-color: #fffbe6;
        color: #faad14;
        border-color: #faad14;
    }

}




.skeleton {
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        animation: shimmer 1.5s infinite;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.skeleton-text {
    height: 16px;
    width: 100%;
    margin-bottom: 8px;
}

.skeleton-file-name {
    height: 36px;
    width: 60%;
    border-radius: 15px;
    margin-bottom: 8px;
}

.skeleton-file-size {
    height: 36px;
    border-radius: 15px;
    width: 40%;
}






.multiselect-container {
    position: relative;
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.multiselect-placeholder {
    text-wrap-mode: nowrap;
    padding: 13px;
    border-radius: 20px;
    border: none;
    background-color: #f0f0f0;
}

.multiselect-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.multiselect-option {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }

    input {
        margin-right: 8px;
    }
}