.user-role-container {
    padding: 1rem;

    .form-section,
    .roles-list,
    .edit-section {
        margin-bottom: 1rem;
    }

    input {
        margin: 0.5rem;
    }

    button {
        margin: 0.5rem;
    }
}