<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

<div class="file-item" [ngClass]="isVertical ? 'file-item--vertical' : 'file-item--horizontal'"
  [pTooltip]="file.fileName" tooltipPosition="bottom" (click)="onRightClick($event, file)"
  (contextmenu)="onRightClick($event, file)">

  <img [src]="file.icon" alt="File Icon" class="file-icon" />
  <div class="file-details">
    <p class="file-title">{{ file.fileName }}</p>
    <p class="file-date">{{ file.createDateTime | date: 'dd-MM-yyyy HH:mm' }}</p>
  </div>
</div>


<p-dialog header="Edit Profile" [modal]="true" [(visible)]="fileService.visibleShonRename" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Новое имя файлаа</span>
  <input type="text" pInputText [(ngModel)]="value" />
  <div class="flex justify-content-end gap-2" style="padding-top: 10px;">
    <p-button label="Отмена" severity="secondary" (onClick)="closeDialogRename()" />
    <p-button label="Переименовать" (onClick)="renameFile()" />
  </div>
</p-dialog>
