<div class="filters">
  <input type="text" placeholder="Поиск по дате или сумме..." [(ngModel)]="searchQuery" (input)="applyFilters()"
    class="search-box" />
  <div style="display: flex;
      flex-direction: row;
      justify-content: space-between;">
    <div class="filter-sort-container">
      <button (click)="toggleDropdown('filter')" class="dropdown-btn">Фильтр</button>
    </div>

    <div class="filter-sort-container">
      <button (click)="toggleDropdown('sort')" class="dropdown-btn">Сортировка</button>
    </div>
  </div>

</div>

<div *ngIf="dropdownState.filter" class="dropdown-content">
  <button (click)="filterByType('all')" [class.active]="filterType === 'all'">Все</button>
  <button (click)="filterByType('positive')" [class.active]="filterType === 'positive'">Пополнение</button>
  <button (click)="filterByType('negative')" [class.active]="filterType === 'negative'">Списание</button>
</div>

<div *ngIf="dropdownState.sort" class="dropdown-content" style="right: 0;">
  <button (click)="sortBy('date')">Сортировать по дате</button>
  <button (click)="sortBy('amount')">Сортировать по сумме</button>
</div>

<div *ngIf="filteredTransactions.length; else noData" class="transactions-container">
  <div *ngFor="let transaction of filteredTransactions" class="transaction-card">
    <div class="transaction-info">
      <span class="transaction-date">{{ transaction.createDateTime | date: 'd-M-yyyy, H:mm' }}</span>
      <span class="transaction-delta"
        [ngClass]="{ 'positive': transaction.delta > 0, 'negative': transaction.delta < 0 }">
        <ng-container *ngIf="transaction.delta > 0">
          <svg class="arrow up" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .374.168l4.5 5.5a.5.5 0 0 1-.748.664L8 3.334 3.874 8.332a.5.5 0 1 1-.748-.664l4.5-5.5A.5.5 0 0 1 8 2z" />
          </svg>
          Пополнение
        </ng-container>
        <ng-container *ngIf="transaction.delta < 0">
          <svg class="arrow down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8 14a.5.5 0 0 1-.374-.168l-4.5-5.5a.5.5 0 0 1 .748-.664L8 12.666l4.126-4.998a.5.5 0 1 1 .748.664l-4.5 5.5A.5.5 0 0 1 8 14z" />
          </svg>
          Списание
        </ng-container>
        <ng-container *ngIf="transaction.delta === 0">
          Нет изменений
        </ng-container>
      </span>
    </div>
    <div class="transaction-amount"
      [ngClass]="{ 'positive': transaction.delta > 0, 'negative': transaction.delta < 0 }">
      {{ transaction.delta }}
    </div>
  </div>
</div>

<ng-template #noData>
  <p>Транзакции не найдены.</p>
</ng-template>