<div class="filters">
  <input type="text" placeholder="Поиск по дате или сумме..." [(ngModel)]="searchQuery" (input)="applyFilters()"
    class="search-box" />
  <div style="display: flex;
      flex-direction: row;
      justify-content: space-between;">
    <div class="filter-sort-container">
      <button (click)="toggleDropdown('filter')" class="dropdown-btn">Фильтр</button>
    </div>

    <div class="filter-sort-container">
      <button (click)="toggleDropdown('sort')" class="dropdown-btn">Сортировка</button>
    </div>
  </div>

</div>

<div *ngIf="dropdownState.filter" class="dropdown-content">
  <button (click)="filterByType('all')" [class.active]="filterType === 'all'">Все</button>
  <button (click)="filterByType('positive')" [class.active]="filterType === 'positive'">Пополнение</button>
  <button (click)="filterByType('negative')" [class.active]="filterType === 'negative'">Списание</button>
</div>

<div *ngIf="dropdownState.sort" class="dropdown-content" style="right: 0;">
  <button (click)="sortBy('date')">Сортировать по дате</button>
  <button (click)="sortBy('amount')">Сортировать по сумме</button>
</div>

<div *ngIf="filteredTransactions.length; else noData" class="transactions-container">
  <div *ngFor="let transaction of filteredTransactions" class="transaction-card">
    <div style="    display: flex;
        width: 100%;
        justify-content: space-between;">
      <div class="transaction-info">
        <span class="transaction-date">
          {{ transaction.createDateTime | date: 'd-M-yyyy H:mm' }}
        </span>
        <div class="transaction-status" [ngClass]="getPaymentStatusClass(transaction.paymentStatus)">
          {{ getPaymentStatusLabel(transaction.paymentStatus) }}
        </div>
      </div>

      <div class="transaction-amount"
        [ngClass]="{ 'positive': transaction.delta > 0, 'negative': transaction.delta < 0 }">
        {{ transaction.delta | number: '1.2-2' }}
      </div>
    </div>


    <span style="    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    color: #7d7a7a;">{{transaction.description}}</span>
  </div>
</div>

<ng-template #noData>
  <p>Транзакции не найдены.</p>
</ng-template>