<div class="account-delete-container">
  <h2>Удалить аккаунт</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
    <p>
      При удалении аккаунта все данные будут безвозвратно удалены.
    </p>
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="confirm" />
        Я подтверждаю удаление аккаунта
      </label>
    </div>
    <div class="container_btn">
      <button type="submit" [disabled]="deleteForm.invalid">Удалить аккаунт</button>
    </div>
  </form>
</div>