@import "primeicons/primeicons.css";

:root {
    --color-white: #fff;
    --color-light-gray: #e6e7e9;
    --color-gray: #a8acb7;
    --color-red: #0b1326;

    --gradient-light: linear-gradient(135deg, var(--color-white), var(--color-light-gray));
    --gradient-dark: linear-gradient(135deg, var(--color-gray), var(--color-light-gray));
    --gradient-accent: linear-gradient(135deg, var(--color-red), var(--color-gray));
    --gradient-warm: linear-gradient(135deg, var(--color-light-gray), var(--color-red));

    /* Основные цвета градиента */
    --gradient-start: #38A2D7;
    /* Начальный цвет градиента */
    --gradient-end: #561139;
    /* Конечный цвет градиента */

    /* Оттенки для кнопок и фона */
    --button-bg: #38A2D7;
    /* Цвет фона кнопок */
    --button-bg-hover: #3295C6;
    /* Цвет фона кнопки при наведении */
    --button-border: #561139;
    /* Цвет границы кнопок */
    --button-border-hover: #4B0E2B;
    /* Цвет границы при наведении */

    /* Цвета текста и фона */
    --text-color: #FFFFFF;
    --text-dark-color: #101010;
    /* Цвет текста на кнопках */
    --background-color: #F8F9FA;
    /* Цвет фона сайта */
    --card-bg: #FFFFFF;
    /* Цвет фона карточек */
    --card-border: #E0E0E0;
    /* Цвет границы карточек */

    /* Дополнительные оттенки для использования */
    --accent-color: #C92A48;
    /* Дополнительный акцентный цвет */
    --dark-accent: #3A0A20;
    /* Темный акцентный цвет */


    --bg-gray-1: #fff;
    --bg-gray-2: #f6f8fb;
    --bg-gray-3: #eff2f7;
    --bg-gray-200: #f6f8fb;
    --clr-bg-gray-500: #a3acbf;
    --bg-inverted-gray-200: #1f2430;
    --clr-el-gray-000: #fff;
    --clr-el-gray-010: #cad6ee1a;
    --clr-el-gray-015: #b0bdd626;
    --clr-el-gray-020: #b0bdd633;
    --clr-el-gray-030: #a5b1ca4d;
    --clr-el-gray-040: #8694b066;
    --clr-el-gray-050: #475a8080;
    --clr-el-gray-060: #1a2b4d99;
    --clr-el-gray-070: #000c24b2;
    --clr-el-gray-080: #2f3747;
    --clr-el-gray-090: #121725f2;
    --clr-el-inverted-gray-050: #a3b8df80;
    --clr-el-inverted-gray-060: #c8d6f199;
    --clr-el-inverted-gray-080: #eff2f7;
    --clr-el-yellow-010: #ffdd574d;
    --clr-el-yellow-020: #ffdd578c;
    --clr-el-yellow-100: #ffdd57;
    --clr-el-yellow-200: #ffd21f;
    --clr-el-yellow-300: #f7c408;
    --clr-el-orange-100: #ff8200;
    --clr-el-red-010: #dd00001a;
    --clr-el-red-020: #dd000033;
    --clr-el-red-040: #dd000066;
    --clr-el-red-050: #dd000080;
    --clr-el-red-060: #dd000099;
    --clr-el-red-080: #ee4f4f;
    --clr-el-red-100: #d00;
    --clr-el-green-010: #33b34326;
    --clr-el-green-020: #33b34340;
    --clr-el-green-060: #33b343b2;
    --clr-el-green-080: #76d983;
    --clr-el-green-100: #33b343;
    --clr-el-blue-010: #498bff33;
    --clr-el-blue-060: #498bffb2;
    --clr-el-blue-100: #498bff;
    --clr-el-blue-200: #38f;
    --clr-str-black-050: #475a807f;
    --clr-str-black-800: #2f3747;
    --clr-str-black-900: #252a38;
    --clr-str-white-060: #afc2e699;
    --clr-str-white-080: #d1e1ffcc;
    --clr-str-white-100: #fff;
    --clr-str-pure-white-050: #ffffff7f;
    --clr-str-pure-white-060: #ffffffb3;
    --clr-str-pure-white-60: #ffffffb2;
    --clr-bg-app: var(--clr-bg-gray-3);
    --clr-dash-green-00: #4d993d;
    --clr-dash-green-01: #65b812;
    --clr-dash-green-02: #9dd926;
    --clr-dash-green-03: #9dd92666;
    --clr-dash-green-04: #65b81233;
    --clr-dash-yellow-01: #fc0;
    --clr-dash-yellow-02: #ffe666;
    --clr-dash-yellow-03: #ffe66666;
    --clr-dash-yellow-04: #ffcc0033;
    --clr-dash-orange-01: #ff9a33;
    --clr-dash-orange-02: #ffb851;
    --clr-dash-orange-03: #ffb85166;
    --clr-dash-orange-04: #ff9a3333;
    --clr-dash-red-01: #e53c1a;
    --clr-dash-red-02: #ff6647;
    --clr-dash-red-03: #ff664766;
    --clr-dash-red-04: #e53c1a33;
    --clr-dash-violet-00: #5f36b3;
    --clr-dash-violet-01: #7a45e6;
    --clr-dash-violet-02: #aa80ff;
    --clr-dash-violet-03: #7a45e533;
    --clr-dash-violet-04: #6e30e833;
    --clr-dash-violet-05: #e9e0fb;
    --clr-dash-blue-01: #38f;
    --clr-dash-blue-02: #66b3ff;
    --clr-dash-blue-03: #66b3ff66;
    --clr-dash-blue-04: #3388ff33;
    --clr-dash-grey-01: #c2c9d6;
    --clr-dash-grey-02: #e0e6ef;
    --clr-dash-grey-03: #e0e6ef66;
    --clr-dash-grey-04: #c2c9d633;
    --clr-dash-grey-05: #1a2b4d99;
    --clr-dash-cornflow-01: #6673ff;
    --clr-dash-cornflow-02: #99a2ff;
    --clr-dash-cornflow-03: #99a2ff66;
    --clr-dash-cornflow-04: #6673ff33;
    --clr-dash-magenta-01: #f39;
    --clr-dash-magenta-02: #ff66b2;
    --clr-dash-magenta-03: #ff66b266;
    --clr-dash-magenta-04: #ff007f33;
    --clr-dash-dustmagenta-01: #cc297a;
    --clr-dash-dustmagenta-02: #d9418d;
    --clr-dash-dustmagenta-03: #d9418d66;
    --clr-dash-dustmagenta-04: #cc297a33;
    --clr-dash-dustpink-01: #e5515e;
    --clr-dash-dustpink-02: #e56772;
    --clr-dash-dustpink-03: #e7526366;
    --clr-dash-dustpink-04: #e5515e33;
    --clr-dash-dustblue-01: #4643bf;
    --clr-dash-dustblue-02: #5252cc;
    --clr-dash-dustblue-03: #5252cc66;
    --clr-dash-dustblue-04: #4f4cd933;
    --clr-dash-dustgreen-01: #4d993d;
    --clr-dash-dustgreen-02: #63a642;
    --clr-dash-dustgreen-03: #63a64266;
    --clr-dash-dustgreen-04: #4d993d33;
    --clr-dash-teal-01: #0fbda0;
    --clr-dash-teal-02: #36e2c6;
    --clr-dash-teal-03: #36e2c666;
    --clr-dash-teal-04: #0fbda033;
    --clr-dash-coffee-01: #965a3c;
    --clr-dash-coffee-02: #c86e46;
    --clr-dash-coffee-03: #c86e4666;
    --clr-dash-coffee-04: #965a3233;
    --clr-db-indigo-200: #4643bf;
    --clr-db-teal-200: #41d9bf;
    --clr-db-violet-020: #7a45e533;
    --clr-db-violet-100: #aa80ff;
    --clr-db-violet-200: #7a45e5;
    --clr-db-violet-300: #5f36b2;
    --clr-icon-purple2: #7a45e57f;
}