<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-fileUpload mode="basic" chooseLabel="Choose Files" chooseIcon="pi pi-upload" name="demo[]"
        accept=".pdf, application/pdf, .xls, .xlsx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        maxFileSize="10000000" [multiple]="false" (onSelect)="onSelect('file1',$event)" />
</div>

<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-fileUpload mode="basic" chooseLabel="Choose Files" chooseIcon="pi pi-upload" name="demo[]"
        accept=".pdf, application/pdf, .xls, .xlsx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        maxFileSize="10000000" [multiple]="false" (onSelect)="onSelect('file2',$event)" />
</div>

<button (click)="onUpload()" [disabled]="File1 == undefined && this.File2 == undefined">Отправить</button>